*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

@mixin squircle-radius($rad: 0.5rem){
    corner-shape: squircle;
    border-radius: $rad;
}

#root{
    // width: 100%;
    height: 100%;

    main{
        height: 100%;
        width: 100%;
        background: linear-gradient(to right bottom,rgb(34, 34, 34),rgb(37, 37, 37),black);
        padding: 2rem;

        section{
            height: 100%;
            width: 25rem;
            background-color: black;
            margin: auto;
            
            .all-reels{
                height: 100%;
                width: 100%;
                // background-color: red;
                overflow: auto;
                scroll-snap-type: y mandatory;
                scroll-behavior: smooth;
                
                .reel{
                    height: 100%;
                    width: 100%;
                    position: relative;
                    background-color: aqua;
                    overflow: hidden;
                    @include squircle-radius(1rem);
                    scroll-snap-align: start;
                    scroll-snap-stop: always;

                    .main-img,video{
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }

                    .bottom{
                        padding: 3rem 2rem;
                        background: linear-gradient(rgba(0, 0, 0, 0),black);
                        width: 100%;
                        position: absolute;
                        bottom: 0;
                        color: rgb(250,250,250);

                        .user{
                            display: flex;
                            align-items: center;
                            gap: 1rem;
                            margin-bottom: 2rem;

                            .user-img{
                                border-radius: 100%;
                                height: 3rem;
                                width: 3rem;
                                object-fit: cover;
                            }

                            // .user-name{
                                
                            // }

                            .follow-btn{
                                border: 0.07rem solid rgb(47, 210, 194);
                                border: none;
                                @include squircle-radius(1rem);
                                padding: 0.3rem 0.5rem;
                                color: white;
                                font-weight: 600;
                                background-color: rgb(47, 210, 194);
                            }
                        }
                    }

                    .right{
                        height: 40%;
                        width: 3rem;
                        position: absolute;
                        bottom: 16%;
                        right: 0;
                        color: white;
                        display: flex;
                        flex-direction: column;
                        text-align: center;
                        justify-content: space-around;
                        overflow: hidden;
                        // transform: translateX(100%);
                        
                        i{
                            font-weight: 100;
                            font-size: 1.8rem;
                            cursor: pointer;
                        }
                        h6{
                            font-weight: 500;
                            font-size: 0.8rem;
                        }
                    }
                }
            }
        }

        .all-reels::-webkit-scrollbar{
                display: none;
            }
    }
}